[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-ls"]
	path = vim/bundle/vim-ls
	url = https://github.com/gkz/vim-ls.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
